:root {
  --fancy-green: #f1f1f1;
  --bg-white: #F9F9F9;
  --accent-one: #8ba868;
  --main-text: #242424;

  --width: 76%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9F9F9;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  
  width: var(--width);
  margin:auto;
}

.mainContainer {

  
}
.mainContainerAllNews{
  margin-top: 65px;

}
/*HEADER*/
.scrollMenuUp{
  width: 100%;

}

.Info1 .logo{
  width: 130px;
  margin-left: 10px;
}
.scrollMenuUp .logo{
  width: 200px;
}
.Info2 .scrollMenuDown .logo{
  margin-right: 50px;
}
.scrollMenuUp .Info{
  flex-direction: column;
}
.fillInfo .logo{
  width: 200px;
}
.fillInfo .Info{
  flex-direction: column;
}
.nofill{
  border-style: none;
  color: var(--bg-white);
  background-color: var(--bg-white);
}

.scrollMenuDown{
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.03);
  width: 100%;
}

.outerMenu{
  width: 100%;
  background-color: var(--bg-white);
  display:inline-flex;
  justify-content: center;

}
.Home2 .scrollMenuDown{
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.07);

}
.Info2{
  position: fixed;
}
.headerBox{
  display: flex;
  justify-content: center;
  width: var(--width);;
  margin: auto;

}
.Home{
  flex-direction: column;
}
.Info{
  background-color: var(--bg-white);

  flex-direction: row;
}
.Info .topnav{
}

.top{
  display:inline-flex;
  justify-content:space-between;
  
}

.logo{
  width:200px;
  
  margin-top: 32px;
  margin-bottom: 32px;

  transition: 0.08s;

  animation-name: logo;
  animation-duration: 1s;
}
/*
@keyframes logo {
  from {margin-top: -200px;}
  to {margin-top: 32px;}
}
*/
.fblogo{
  width:30px;
  height: 30px;
  padding: 30px;
}

.clickable:hover{
  background-color: rgba(116, 116, 116, 0.5);
  background-blend-mode: overlay;
  cursor:pointer;
}
.Info2 .scrollMenuDown .fblogo{
  display: none;
}
.bannerimg{
  width: 100%;
  height: 500px;
  object-fit: cover;
  opacity: 0.94;
}
.divider{
  width: 100%;
  height: 0px;
  border-top: dashed;
  background-color: #b2bba3;
  border-color: #686868;
  border-width: 0px;
  /*margin-bottom: 60px ;*/
}
.headerBox{

}
/*MENU*/
.topnav{
  height: fit-content;
  margin: auto;
  width: 100%;

  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  color: var(--main-text);
  
  


  /*background-color: #eaf2ee;*/


  /*z-index: 1;
  opacity: 0.89;
  position: absolute;
  margin-top: 169px;
  width: 76%;
  align-content: end;*/

}
.mobileMenuTop{
  display: flex;
  align-items: center;
}
.navTextTop{
  margin:auto;
  text-align: center;
  display: none;
}

.dropdown-content {
  /*display: none;*/
  max-height: 0px;

  position: absolute;
  background-color: #F9F9F9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.05);

  z-index: 1;
  overflow:hidden;

  transition: 0.0s;
  transition-timing-function: ease-in-out;
  width: 250px;
}

.dropdown-unit{
 padding-right: 20px;
 padding-left: 20px;
 padding-top: 1px;
 padding-bottom: 1px;
}
.dropdown-content a{
  color: black;
  text-decoration: none;
 }
.dropdown-unit:hover{
  background-color: #F9F9F9;

}
.dropdown-text{
  clear: both;
  transition: 0.2s;

}
.dropdown-unit:hover .dropdown-text{
  padding-left: 10px;
  border-left: 2px solid #1a7542;
  color: #1a7542;
}
.marked .dropdown-text{
  padding-left: 10px;
  border-left: 2px solid #437d5c;
  color: #1a7542;
}




.navbox{
  transition: 0.3s;
  font-weight: 500;
}

.navbox:hover .dropdown-content {
  max-height: 500px;
}

.pullDown{
  max-height: 0px;
}

.navbox:hover{
  cursor: pointer;
  /*background-color: rgb(232, 232, 232);*/
  color: #1a7542;

}
.marked2{
  color: #4c9c6d;
  border-bottom: #437d5c solid ;
}
.navtext{
  text-align: center;
}

.navtext{
  font-size: 14px;
  text-align: center;
  margin-right: 30px;
  margin-left: 30px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

/*HOMEPAGE*/
.home_content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  /*background-color: #eaf2ee;*/

}
.home_B{
  min-width: 400px;
  max-width: 600px;
  margin: 15px;
  padding: 15px;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 180%;

  width: 50%;
}
.b1{
  margin-right: 40px;
}
.b2{
  margin-left: 40px;

}
.slideimgActive{
  transition: 1s;
  opacity: 1;

}
.slideimg{
  opacity: 0;
  transition: 1s;
}
/*NEWS BOX*/
.aktuellt{
  font-size: 18px;
  font-weight: 300;
  margin: -3px;
  margin-left: 5px;
  color: #131313;
  
}
.aktuellt-con{
  margin: 0px;
  margin-top: 10px;
  border-color: #b0b0b0;
  padding: 0;
  margin-bottom: 16px;
  
  
}
.seeAll{
  text-decoration:underline;
  cursor:pointer;
  width:fit-content;
  margin: 0px;
  color:rgb(54, 54, 54);
  transition: 0.3s;

}
.seeAll-con{
  text-decoration:none;
  cursor:pointer;
  color:rgb(57, 57, 57);
  width:fit-content;
  padding: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-style:none;
  

}

.seeAll-con:hover{
  color:rgb(47, 47, 47);

  background-color: #F9F9F9;
  

}
.seeAll-con:hover .seeAll{
  text-decoration:none;

  border-left: 2px solid #1a7542;
  padding-left: 5px;

}
.newsContainer{
  display: flex;
  flex-direction: column;
  margin-top: 20px;


}
.newsBox{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.4s;
  border-radius: 2px;
  background-color:#F9F9F9;
  overflow: hidden;

  transform: scale(1.);



}
.newsBoxAll{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 110px;
  margin: 20px;
  transition: 0.4s;
  border-radius: 8px;
  background-color: #fcfcfc;
  overflow: hidden
}
.newsBox:hover{
  box-shadow: none;

  box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.07), -6px -6px 8px rgba(255, 255, 255, 1),-6px -6px 16px rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, 0.07), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0);

  
  cursor:pointer;
  transform: scale(1.007)

}
.newsBoxAll:hover{
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.05);
  cursor:pointer;
  transform: scale(1.01)

}

.newsImg{
  width: 160px;
  object-fit: cover;
  overflow:hidden;
  opacity: .9;
  filter: contrast(1.1) saturate(1.3);

}
.newsText{
  padding-left: 20px;
  width: 100%;

}
.newsHeadText{
  display: flex;
  flex-direction: row;
}
.newsHead{
  margin: 0px;
  font-weight: 400;
  margin-top: 7px;
}
.newsDate{
  margin: 0px;
  margin-left: 10px;
  margin-top: 7px;

}
.newsBody{
  line-height: 150%;
  font-size: 14px;
  margin: 0px;
  overflow: hidden;
  max-height: 60%;
  color: #403939;
}


/*REGULAR TEXT*/
.big_text_home{
  font-size: 28px;

}
/*INFO PAGE*/
.fillDiv {
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.fillDivInactive{
  display: none;
}
.contentImage{
  margin-left: 6%;
  margin-bottom: 3%;
  /*margin-top: 115px;*/
  margin-top: 27px;
  width: 62%;
  float: right;
  
}
.big_text{
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #2f2e2e;
  padding: 6px;

  /*border-left: 4px solid #1a7542;*/
  text-transform: uppercase;
  color: var(--bg-white);
  background-color: var(--accent-one);
  width: 100%;
  margin-top: 40px;


}
.small_text{
  text-align:left;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 180%;
}
/*FOOTER*/
.outerFooter{
  width: 100%;
  background-color: var(--fancy-green);
  box-shadow: inset 0px 8px 16px 0px rgba(0,0,0,0.05);

}
.footerBox{
  margin:auto;
  width:var(--width);;
  height: 100%;
  padding: 20px;
  margin-top: 65px;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  letter-spacing: 0.5px;
  line-height: 160%;
  align-items: center;
}
.footercontent{
  margin-left: 50px;
  margin-right: 50px;
  width: 800px;
}
.locationIFRAME{
  width: 500px;
  height: 300px;
}

@media only screen and (max-width: 1200px) {
  body{
  }
  .home_content{
    flex-wrap: wrap;
  }
  .home_B{
    width: auto;

  }
  .b1{
    margin-right: 0px;
  }
  .b2{
    margin-left: 0px;
  
  }
  .location{
  }

  /*FOOTER*/
  .footerBox{
  }

}

@media only screen and (max-width: 800px) {
  body {
    background-color: #F9F9F9;
    
  }
  .topnav{
    flex-direction: column;
    max-height: 0px;
    flex-wrap:nowrap;
    overflow:hidden;
    transition: 0.4s;

  }
  
  .mobileMenuTop:hover{
    background-color: #e5e5e1;
  }
  .mobileMenuTop:hover .topnav{
    max-height: 800px;
  }

  .navbox{

  }  

  .dropdown-content {
    /*display: none;*/
    max-height: 0px;
  
    position: relative;
    background-color: #F9F9F9;
    min-width: 160px;
    box-shadow: inset 0px 8px 16px 0px rgba(0,0,0,0.05);
  
    z-index: 1;
    overflow: hidden;
  
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    width: 100%;
  }
  .dropdown-unit{
    border: none;
    background-color: #ffffff;
    /*border-top: solid #c1c1c1;*/
  }
  .dropdown-text{
    text-align: center;
  }
  .dropdown-unit:hover .dropdown-text{
    padding-left: 10px;
    border-left: none;

    color: #1a7542;
  }
  .mobileMenuTop{
    display: block;
    cursor: pointer;
    padding: 5px;

    }
  .navTextTop{
    margin:auto;
    text-align: center;
    display: block;
  }
  
  .marked2 {
    border-style: none;
  }
  .marked .dropdown-text{
    padding-left: 10px;
    border-left: none;
    color: var(--accent-one);
  }
  .App{
    width: 100%;
    margin:auto;
  }
  .headerBox{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
  .home_B{
    min-width: 300px;
    margin: 15px;
    padding: 15px;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 180%;
    
  }
  .footerBox{
    padding: 0px;
    flex-wrap:wrap-reverse;
    justify-content: center;
  }
  .footercontent{
    margin: 40px;
    margin-left: 10%;
    margin-right: 10%;
    width: 60%;
    margin-bottom: 100px;
  }
  .location{
    display: flex;
    justify-content: center;
  }
  .locationIFRAME{
    margin-left: auto;
  }
  /*INFO*/
  .infoContent{
    padding: 9%;
  }
  .contentImage{
    margin-left: 0%;
    margin-bottom: 0%;
    /*margin-top: 115px;*/
    margin-top: 0px;
    width: 100%;
    float: none;
    
  }
  .big_text{
    text-align: center;
  }
  .outerMenu{
    width: 100%;
    background-color: var(--bg-white);
    display:inline-flex;
    justify-content: center;
  }
  .mobileMenuTop{

  }
  
}